html{
	height:100%;
}

body{
	font-size: 18px;
	margin: 0px;
	height: 100%;
	font-family: 'fira-sans-2', sans-serif;
}

.wrapper{
	margin: 0;
	min-height: 100%;
	margin-bottom: -20px;
	padding-bottom: 2em;
	overflow-x: hidden;
}

.wrapper:after{
	content: "";
	display: block;
	height: 20px;
}

.background-left{
	background-color: #FFF;
	float: left;
	width: 50%;
}

.background-right{
	background-color: #000;
	float: right;
	width: 50%;
	left: 50%;
}

.background-left, .background-right{
	margin-top: 0;
	height: 3em;
}

h1{
	font-family: 'ltc-bodoni-175', serif;
	font-weight: bold;
	font-style: italic;
	letter-spacing: .02em;
	font-size: 4em;
	margin: 0.4em 0;
}

.title-left{
	width: 50%;
	background-color: #FFF;
	color: #000;
	float: left;
	margin: 0;
	padding-bottom: .4em;
}

.title-right{
	width: 50%;
	background-color: #000;
	color: #FFF;
	float: right;
	margin: 0;
	padding-bottom: .4em;
}

.title{
	position: relative;
	margin: 0;
	width:100%;
	text-align: center;
	text-transform: uppercase;
}

nav{
	position: relative;
	width: 100%;
}

.nav{
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
	font-size: 1.3em;
	letter-spacing: 3px;
	text-decoration: none;
}

.navleft{
	color: #000;
	background-color: #FFF;
}

.navleft:hover{
	background-color: #9ED4B3;
}

.navright{
	color: #FFF;
	background-color: #000;
}

.navright:hover{
	background-color: #9C81BB;
}

.page-title{
	font-family: 'ltc-bodoni-175', serif;
	text-align: left;
	font-size: 3em;
	padding: .6em 0;
	margin: 0;
}

.site-title{
	display: inline;
	font-style: italic;
}

p{
	display: inline;
}

.decor{	
	float: left;
	width: 15%;
	margin-top: 1em;
}

#one, #two, #three{
	background-color: #000;
	height: 20px;
	position: relative;
	display: block;
	margin-top: 1em;
}

.main-content{
	float: right;
	width: 78%;
}

.general{
	padding-bottom: 2em;
}

img{
	padding: 2em;
}

.rachel-desc, .sean-desc{
	display: inline;
}

.profile-rachel, .profile-sean{
	height: 5em;
	width: 5em;
	border-radius: 50%;
	float: left;
	padding: 1em;
}

.about-rachel, .about-sean{
	padding-bottom: 4em;
	position: relative;
	left: 0;
}

li{
	position: relative;
	left: 1em;
}

footer{
	height: 20px;
	background-color: rgb(152,152,152);
	padding: .5em;
	font-size: .5em;
}

.footer{
	float: right;
	margin: 0;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	body{
		font-size: 14px;
	}
}

@media screen and (max-width: 600px) {
	body{
		font-size: 10px;
	}

	h1{
		font-size: 2.5em;
	}

	.title-left, .title-right{
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 1.5em;
	}

	h2{
		font-size: 1.5em;
	}

	.nav{
		float: none;
		color: #000;
		font-size: 1em;
		width: 100%;
		position: static;
		background-color: rgb(125,125,125);
	}
}