html{
	height:100%;
}

body{
	font-size: 18px;
	margin: 0px;
	height: 100%;
	font-family: 'museo-sans', Helvetica, sans-serif;
}

.wrapper{
	height: 100%;
	width: 100%;
	margin: 0;
}

.background-left{
	background-color: #FFF;
	float: left;
	width: 50%;
	height: 100%;
}

.background-right{
	background-color: #000;
	float: right;
	width: 50%;
	height: 100%;
	left: 50%;
}

.background-left, .background-right{
	height: inherit;
	margin-top: 0;
	position: fixed;
}

.title-left{
	width: 50%;
	background-color: #FFF;
	color: #000;
	float: left;
}

.title-right{
	width: 50%;
	color: #FFF;
	float: right;
}

.title{
	position: absolute;
	margin-top: 0;
	width:100%;
	text-align: center;
	text-transform: uppercase;
}

nav{
	position: absolute;
	width: 100%;
	margin-top: 10em;
}

.nav{
	position: relative;
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding-top: 1em;
	font-size: 1.3em;
}

.navleft{
	color: #000;
}

.navright{
	color: #FFF;
}

.blog-container{
	position: absolute;
	margin-top: 15em;
  	width: 70%;
  	background-color: rgba(152,152,152,.5);
	left: 16%;
	padding-bottom: 5%;
}

.post{
	position: relative;
	background-color: rgba(0,0,0,0);
	width: 100%;
	margin-top: 10%;
}

.date{
	display: inline-block;
	margin-top: 2em;
	font-size: .8em;
	padding: 1em;
	width: 10%;
	text-transform: uppercase;
	text-align: center;
}

.blog-post{
	display: inline-block;
	width: 80%;
}

.racheldate{
	float: left;
	background-color: #9C81BB;
	margin-left: -2em;
	color: #FFF;
}

.seandate{
	float: right;
	background-color: #9ED4B3;
	margin-right: -2em;
	color: #000;
}

.author-rachel{
	background-color: #000;
	color: #FFF;
	text-align: center;
	float: left;
}

.author-sean{
	background-color: #FFF;
	color: #000;
	text-align: center;
	float:right;
}

h1{
	font-family: "museo-sans", Helvetica, sans-serif;
	font-size: 4.5em;
	text-align: center;
}

h2{
	font-size: 2em;
}

.sign-off{
	text-align: right;
	font-style: italic;
	font-size: .7em;
	padding: 1em 5em 1em 0;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}

footer{
	height: 2em;
	bottom: 0;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
	body{
		font-size: 14px;
	}

	.blog-container{
		width: 90%;
		left: 5%;
	}
}

@media screen and (max-width: 600px) {
	body{
		font-size: 11px;
		overflow-x: hidden;
		margin: auto;
	}

	.background-left, .background-right{
		height: 6em;
		position: static;
	}

	h1{
		font-size: 2.5em;
	}

	h2{
		font-size: 1.5em;
	}

	.blog-container{
		width: 100%;
		left: 0;
		margin-top: 18em;
		visibility: hidden;
	}

	.post{
		margin-top: 0;
		visibility: visible;
	}

	.blog-post{
		width: 100%;
		display: block;
	}

	.author-rachel, .author-sean{
		float: none;
		padding: .25em 0;
	}

	.date{
		visibility: hidden;
	}

	nav{
		margin-top: 5.5em;
	}

	.nav{
		float: none;
		color: #000;
		font-size: 1em;
		width: 100%;
	}

	.nav-box{
		background-color: rgb(125,125,125);
		padding-bottom: 1em;
	}
}