body{
	background-color: rgb(255,255,255);
	text-align: center;
	font-family: Helvetica, sans-serif;
}

#slogan{
	font-style: italic;
}

.list{
	text-align:left;
}

section{
	background-color: #C2FFEB;
}
