@import url(http://fonts.googleapis.com/css?family=Raleway:700);

body{
	background-color: rgb(255,255,255);
	text-align: center;
	font-family: Helvetica, sans-serif;
	padding: 12 0 12 0;
}

h1{
	font-family: 'Raleway'
}

#slogan{
	font-style: italic;
}

section{
	background-color: #C2FFEB;
	padding: 5 5 5 5;
}

.rachel{
	color:#DAA3FF;
}

.sean{
	color: #B4E1FF;
}

li{
	color:black;
}
