html{
	height:100%;
}

body{
	font-size: 25px;
	margin: 0px;
	height:100%;
	font-family: 'museo-sans', Helvetica, sans-serif;
}

#left-side{
	background-color:#FFF;
	color:#000;
	text-align: center;
	float: left;
}

#right-side{
	background-color:#000;
	color:#FFF;
	text-align: center;
	float: right;
}

#left-side, #right-side{
	width: 50%;
	height: 100%;
	text-transform: uppercase;
}

nav{
	position: absolute;
	width: 100%;
	margin-top: 10em;
}

.nav{
	position: relative;
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
}

.navleft{
	color: #000;
}

.navright{
	color: #FFF;
}

.blog-container{
	position: absolute;
	margin-top: 13em;
  	width: 70%;
  	background-color: rgba(152,152,152,.5);
	left: 16%;
}

.post{
	position: relative;
	background-color: rgba(0,0,0,0);
	width: 100%;
	margin-top: 10%;
}

.date{
	display: inline-block;
	margin-top: 2em;
	color: #FFF;
	font-size: .6em;
	padding: 1em;
	width: 10%;
	text-transform: uppercase;
	text-align: center;
}

.blog-post{
	display: inline-block;
	width: 75.5%;
	padding: .8em;
}

.racheldate{
	float: left;
	background-color: #9C81BB;
	margin-left: -2em;
}

.seandate{
	float: right;
	background-color: #9ED4B3;
	margin-right: -2em;
}

.author-rachel{
	background-color: #000;
	color: #FFF;
	text-align: center;
	float: left;
	margin-right: 7em;
}

.author-sean{
	background-color: #FFF;
	color: #000;
	text-align: center;
	float:right;
	margin-left: 7em;
}

h1{
	font-family: "museo-sans", Helvetica, sans-serif;
	font-size: 4.5em;
	text-align: center;
}

h2{
	font-size: 2em;
}

.sign-off{
	text-align: right;
	font-style: italic;
	font-size: .7em;
	padding: 1em 2em;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}


