html{
	height:100%;
}

body{
	font-size: 25px;
	margin: 0px;
	height:100%;
	font-family: 'museo-sans', sans-serif;
}

#left-side{
	background-color:#FFF;
	color:#000;
	text-align: center;
	float: left;
}

#right-side{
	background-color:#000;
	color:#FFF;
	text-align: center;
	float: right;
}

#left-side, #right-side{
	width: 50%;
	height: 100%;
	text-transform: uppercase;
}

nav{
	position: absolute;
	margin-top: 10em;
}

.nav{
	position: relative;
	width: 25%;
	float: left;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.navleft{
	color: #000;
}

.navright{
	color: #FFF;
}

.blog-container{
	position: absolute;
	margin-top: 25%;
  	width: 70%;
  	background-color: rgba(152,152,152,.5);
	left: 16%;
}

.post{
	display: block;
	position: relative;
	background-color: rgba(0,100,0,.7);
}

.date{
	display: block;
	color: #FFF;
	padding: 1em;
	text-transform: uppercase;
}

.racheldate{
	float: left;
	background-color: #9C81BB;
}

.seandate{
	float: right;
	background-color: #9ED4B3;
}

.author-rachel{
	background-color: #000;
	color: #FFF;
	text-align: center;
}

.author-sean{
	background-color: #FFF;
	color: #000;
	text-align: center;
}

h1{
	font-family: "museo-sans", sans-serif;
	font-size: 4.5em;
}

h2{
	font-size: 2em;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}


