@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic);

h1{
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

h2{
	font-family: 'Lato', sans-serif;
}

.subtitle{
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-style: italic;
}

nav{
	background-color: #F7941E;
	font-family: sans-serif;
}

a{
	color: white;
	text-decoration: none;
	display: block;
	float: left;
	padding: 20px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}

#search{
	background-color: #FCBC50;
	font-family: sans-serif;
	text-transform: uppercase;
	float: right;
	padding:20px;
}

input{
	display: block;
	float: left;
}

section{
	float: left;
	margin:75%;
}

aside{
	float: right;
	margin:25%;
	border-left-color: #000;
}