@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic);

body{
	font-size: 30px;
}

h1{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}

h2{
	text-align: center;
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	font-size: 1.2em;
}

h3{
	font-family: sans-serif;
	text-align: center;
}

nav{
	background-color: #F7941E;
	font-family: sans-serif;
}

.nav-text{
	color: #FFF;
	text-decoration: none;
	display: block;
	float: right;
	padding: 20px;
}

.search{
	background-color: #FCBC50;
	font-family: sans-serif;
}

#search-text{
	color: #FFF;
	text-transform: uppercase;
	display: block;
	float: right;
	padding: 3px 20px;
}

.form{
	background-color: #2297EF;
	font-family: sans-serif;
}

.form-text{
	color: #FFF;
	display: block;
	float: left;
	padding: 5px 20px;
}

#main-content{
	float: left;
	width: 65%;
	padding: 10px;
}

aside{
	float: right;
	width: 30%;
	background-color: #5CC2EB;
	text-align: center;
}

img{
	width: 20%;
	margin-left: auto;
}

tr{
	padding: 5px;
}

td{
	padding: 5px;
}

.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height:0;
	font-size: 0;
}



